PORT=3333

# sqlite (default) | postgres
DB_PROVIDER=sqlite

# SQLite
SQLITE_PATH=./data/helpdesk.db

# PostgreSQL local/Supabase
# Pode usar host/port/user/pass/database...
PGHOST=127.0.0.1
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=helpdesk

# ...ou string única (ex: Supabase)
# DATABASE_URL=postgresql://postgres:senha@host:5432/postgres

# SSL para provedores online (ex: Supabase)
# PGSSL=true
# PGSSL_REJECT_UNAUTHORIZED=false
