PORT=3333
DB_PROVIDER=postgres

# Cole aqui a Connection String do Supabase (Database > Connection string)
DATABASE_URL=postgresql://postgres:SEU_PASSWORD@db.SEUPROJETO.supabase.co:5432/postgres

# Supabase exige SSL
PGSSL=true
PGSSL_REJECT_UNAUTHORIZED=false

