PORT=3333

# sqlite (default) | postgres
DB_PROVIDER=sqlite

# SQLite
SQLITE_PATH=./data/helpdesk.db

# PostgreSQL local (opção 2)
PGHOST=127.0.0.1
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=helpdesk
